<button class="toggle-theme" aria-label="Toggle Theme" title="Toggle Theme" onclick="toggleTheme()">
  <span class="theme-icon light"> {{ partial "utils/icon" "sun" }} </span>
  <span class="theme-icon dark"> {{ partial "utils/icon" "moon" }} </span>
</button>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    setTheme();
    checkLoadIframeGiscus();
  });

  function setTheme(theme) {
    const html = document.querySelector('html');
    localStorage.setItem('theme', theme);

    if (theme === 'light') {
      if (html.classList.contains('dark')) {
        document.querySelector('html').classList.remove('dark');
      }

      document.querySelector('.theme-icon.light').style.display = 'none';
      document.querySelector('.theme-icon.dark').style.display = 'block';
      document.querySelector('#markup-hightlight-light').disabled = true;
      document.querySelector('#markup-hightlight-dark').disabled = false;
      sendMessage({setConfig: {theme: 'light'}});
    } else {
      if (!html.classList.contains('dark')) {
        document.querySelector('html').classList.add('dark');
      }

      document.querySelector('.theme-icon.dark').style.display = 'none';
      document.querySelector('.theme-icon.light').style.display = 'block'; 
      document.querySelector('#markup-hightlight-light').disabled = false;
      document.querySelector('#markup-hightlight-dark').disabled = true; 
      sendMessage({setConfig: {theme: 'dark_dimmed'}});
    }
  }

  function checkLoadIframeGiscus() {
    var checkLoad = setInterval(function () {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;

      toggleTheme();  
      clearInterval(checkLoad);
    }, 0);
  }

  function sendMessage(message) {
    const iframe = document.querySelector('iframe.giscus-frame');
    if (!iframe) return; 
    iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
  }

  function toggleTheme() {
    const theme = localStorage.getItem('theme');

    if (!theme || theme === 'light') {
      setTheme('dark');
    } else {
      setTheme('light');
    }
  }


</script>
