<article class="flex flex-col">
  <div class="leading-2 flex flex-col items-left justify-start">
    <span class="date inline-block min-w-[100px]">
      <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006, 3:04 PM MST" }}'>
        {{ .PublishDate.Format "2006-01-02" }}
      </time>
      {{ with (.GetTerms "tags") }}
      <div class="tags-list-homepage">
        {{ range . }}
          <a href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
            {{ .LinkTitle }}
          </a>
        {{ end }}
      </div>
      {{ end }}
    </span>
    <h1 class="leading-[0px] inline-block mb-0">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
  </div>

  <!-- <div class="description">
    {{ if .Params.description }}
      {{ .Params.description }}
    {{ else if .Summary }}
      {{ .Summary }}
    {{ end }}
  </div> -->

  <!-- <div class="mt-2">
    <a class="read-more" href="{{ .Permalink }}">
      {{ i18n "readMore" }}
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div> -->
</article>
